<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @decrypt_message.message %>
</p>


<%= link_to 'Edit', edit_rsa_decrypt_message_path(@decrypt_message.rsa, @decrypt_message) %> |
<%= link_to 'Back', rsa_decrypt_messages_path(@decrypt_message.rsa) %>
